name: Release TestFairy React Native SDK
on:
  push:
    tags:
      - '*.*.*'

jobs:
  release:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16.0.0'
          registry-url: 'https://registry.npmjs.org'
      - name: Update native SDK versions
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          ANDROID_SDK_VERSION=1.12.18
          IOS_VERSION=1.29.5
          echo ${GITHUB_REF##*/} > RELEASE_TAG
          sed -i '' "s/\"version\":.*/\"version\":\"$(cat RELEASE_TAG)\",/g" package.json
          sed -i '' "s/com.testfairy:testfairy-android-sdk:.*/com.testfairy:testfairy-android-sdk:${ANDROID_SDK_VERSION}@aar'/" android/build.gradle
          sed -i '' "s/  s.dependency \"TestFairy\".*/  s.dependency \"TestFairy\", \"${IOS_VERSION}\"/" React-TestFairy.podspec
      - name: Install dependencies
        if: startsWith(github.ref, 'refs/tags/')
        run: npm install
      - name: Publish to npm
        if: startsWith(github.ref, 'refs/tags/')
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
